<header>
  <a href="/"></a>
    <h1>Pokédex</h1>
  <nav>
    <ol>
      <li>
        <a href="/pokemon">Home</a>
      </li>
      <li>
        <a href="/pokemon/new">Add New Pokemon</a>
      </li>
    </ol>
  </nav>
</header>