<header class='header'>
  <a href="/"></a>
    <h1>Pokédex</h1>
  <nav>
    <ol>
      <li>
        <a id="nav-btns" href="/pokemon">Home</a>
      </li>
      <li>
        <a id="nav-btns" href="/pokemon/new">Add New Pokemon</a>
      </li>
    </ol>
  </nav>
</header>
