<header class='header'>
  <a href="/"></a>
    <h1>Pokédex</h1>
  <nav>
    <ol>
      <li>
        <button class="btn btn-secondary" type="submit"><a id="nav-btns" href="/pokemon">Home</a></button>
      </li>
      <li>
        <button class="btn btn-secondary" type="submit"><a id="nav-btns" href="/pokemon/new">Add New Pokemon</a></button>
      </li>
    </ol>
  </nav>
</header>
