


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: rgb(206, 53, 53);
  color: #fff;
}



img {
  width: 100px
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  text-decoration: none;
  background-color: orange;
}

.btn-danger {
  font-size: 10px;
}

li {
  margin: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: white;
}



